In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('../data/String_data_one.csv',index_col='人员编号').astype('str')

In [6]:
df.head()

          姓名 国籍 性别   出生年 出生月 出生日
人员编号
1      aesfd  2  男  1942   8  10
2     fasefa  5  女  1985  10   4
3      aeagd  4  女  1946  10  15
4        aef  4  男  1999   5  13
5        eaf  1  女  2010   6  24

In [7]:
df['ID'] = df['姓名']+':'+df['国籍']+'国人,性别'+df['性别']+',生于'+df['出生年']+'年'+df['出生月']+'月'+df['出生日']+'日'

In [9]:
df.ID.to_frame()

                               ID
人员编号
1      aesfd:2国人,性别男,生于1942年8月10日
2     fasefa:5国人,性别女,生于1985年10月4日
3     aeagd:4国人,性别女,生于1946年10月15日
4        aef:4国人,性别男,生于1999年5月13日
5        eaf:1国人,性别女,生于2010年6月24日
...                           ...
1996     sdf:5国人,性别男,生于1984年4月17日
1997      hx:1国人,性别男,生于1943年7月16日
1998      drg:5国人,性别女,生于2018年4月6日
1999  zfgzdrg:5国人,性别男,生于2005年1月3日
2000    fsdf:3国人,性别女,生于1962年7月23日

[2000 rows x 1 columns]

In [10]:
L_year = list('零一二三四五六七八九')
L_one = [s for s in list('二三四五六七八九')]
L_two = [s for s in list('一二三四五六七八九')]

In [11]:
L_year

['零', '一', '二', '三', '四', '五', '六', '七', '八', '九']

In [12]:
L_one

['二', '三', '四', '五', '六', '七', '八', '九']

In [13]:
L_two

['一', '二', '三', '四', '五', '六', '七', '八', '九']

### 练习二

In [14]:
data = pd.read_csv('../data/String_data_two.csv')

In [15]:
data.head()

               col1 col2     col3
0  鄂尔多斯市第2例确诊患者治愈出院   19   363.6923
1     云南新增2例，累计124例  -67   -152.281
2   武汉协和医院14名感染医护出院  -86   325.6221
3     山东新增9例，累计307例  -74  -204.9313
4        上海开学日期延至3月  -95       4.05

In [17]:
# data.col2.mean()

In [18]:
data['col2'][~(data['col2'].str.replace(r'-?\d+','True')=='True')]

309    0-
396    9`
485    /7
Name: col2, dtype: object

In [19]:
data.loc[[309,396,485],'col2'] = [0,9,7]

In [30]:
data['col2'].astype('int').mean()

-0.984

In [36]:
data.columns

Index(['col1', 'col2', 'col3  '], dtype='object')

In [37]:
data.columns = data.columns.str.strip()

In [38]:
data.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [41]:
# data['col3'].mean()

In [42]:
data['col3'][~(data['col3'].str.replace(r'-?\d+\.?\d+','True')=='True')]

28      355`.3567
37             -5
73              1
122    9056.\2253
332    3534.6554{
370             7
Name: col3, dtype: object

In [43]:
data.loc[[28,122,332],'col3'] = [355.3567,9056.2253, 3534.6554]

In [44]:
data['col3'].astype('float').mean()

24.707484999999988