In [1]:
import numpy as np
import pandas as pd

In [2]:
L1,L2 = ['A','B'],['a','b','c']
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
L3,L4 = ['D','E','F'],['d','e','f']
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=('Big', 'Small'))
df_s = pd.DataFrame(np.random.rand(6,9),index=mul_index1,columns=mul_index2)
df_s

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.720940  0.647112  0.581150  0.513022  0.558140  0.962782
      b      0.759659  0.291104  0.082596  0.096289  0.410849  0.999353
      c      0.255549  0.596600  0.066613  0.956111  0.092985  0.737523
B     a      0.813132  0.113555  0.496461  0.598178  0.090135  0.068358
      b      0.202005  0.954137  0.960272  0.644432  0.924119  0.044634
      c      0.606047  0.650867  0.999943  0.111458  0.866850  0.192510

Big                 F
Small               d         e         f
Upper Lower
A     a      0.577299  0.328140  0.666180
      b      0.027356  0.361856  0.788147
      c      0.040597  0.220591  0.091929
B     a      0.979550  0.516837  0.124360
      b      0.080146  0.653349  0.066954
      c      0.309829  0.046432  0.040597

In [3]:
idx=pd.IndexSlice

In [4]:
idx

In [5]:
idx[1:9:2,'A':'C','start':'end':2]

(slice(1, 9, 2), slice('A', 'C', None), slice('start', 'end', 2))

In [6]:
df_s.loc[idx['B':,df_s.iloc[0]>0.6]]

Big                 D                   E         F
Small               d         e         f         f
Upper Lower
B     a      0.813132  0.113555  0.068358  0.124360
      b      0.202005  0.954137  0.044634  0.066954
      c      0.606047  0.650867  0.192510  0.040597

In [7]:
df_s.loc[idx[df_s.iloc[:,0]>0.6,:('E','f')]]

Big                 D                             E
Small               d         e         f         d         e         f
Upper Lower
A     a      0.720940  0.647112  0.581150  0.513022  0.558140  0.962782
      b      0.759659  0.291104  0.082596  0.096289  0.410849  0.999353
B     a      0.813132  0.113555  0.496461  0.598178  0.090135  0.068358
      c      0.606047  0.650867  0.999943  0.111458  0.866850  0.192510

In [8]:
df_s.loc[idx['A'],idx['D':]]

Big           D                             E                             F  \
Small         d         e         f         d         e         f         d
Lower
a      0.720940  0.647112  0.581150  0.513022  0.558140  0.962782  0.577299
b      0.759659  0.291104  0.082596  0.096289  0.410849  0.999353  0.027356
c      0.255549  0.596600  0.066613  0.956111  0.092985  0.737523  0.040597

Big
Small         e         f
Lower
a      0.328140  0.666180
b      0.361856  0.788147
c      0.220591  0.091929

In [9]:
df_s.loc[idx['A':,'a'],idx['D':]]

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.720940  0.647112  0.581150  0.513022  0.558140  0.962782
B     a      0.813132  0.113555  0.496461  0.598178  0.090135  0.068358

Big                 F
Small               d         e        f
Upper Lower
A     a      0.577299  0.328140  0.66618
B     a      0.979550  0.516837  0.12436

In [10]:
df = pd.read_csv('../data/table.csv',index_col='ID')

In [11]:
bins = [0,40,60,80,90,100]
cuts = pd.cut(df['Math'],bins=bins) #可选label添加自定义标签

In [12]:
df.groupby(cuts)['Math'].count()

Math
(0, 40]       7
(40, 60]     10
(60, 80]      9
(80, 90]      7
(90, 100]     2
Name: Math, dtype: int64

In [13]:
s = pd.Series ([0, 1, 1, 0, 1, 1, 1, 0])
s1 = s.cumsum()
result = s.mul(s1).diff().where(lambda x: x < 0).ffill().add(s1,fill_value =0)

In [14]:
s1

0    0
1    1
2    2
3    2
4    3
5    4
6    5
7    5
dtype: int64

In [15]:
result

0    0.0
1    1.0
2    2.0
3    0.0
4    1.0
5    2.0
6    3.0
7    0.0
dtype: float64

In [16]:
s.mul(s1)

0    0
1    1
2    2
3    0
4    3
5    4
6    5
7    0
dtype: int64

In [17]:
s.mul(s1).diff().where(lambda x: x < 0).ffill().add(s1,fill_value =0)

0    0.0
1    1.0
2    2.0
3    0.0
4    1.0
5    2.0
6    3.0
7    0.0
dtype: float64

In [18]:
df

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1204    S_1   C_2      F  street_5     162      63  33.8       B
1205    S_1   C_2      F  street_6     167      63  68.4      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1302    S_1   C_3      F  street_1     175      57  87.7      A-
1303    S_1   C_3      M  street_7     188      82  49.7       B
1304    S_1   C_3      M  street_2     195      70  85.2       A
1305    S_1   C_3      F  street_5     187      69  61.7      B-
2101    S_2   C_1      M  street_7     174      84  83.3       C
2102    S_2   C_1      F  street_6     161      61  50.6      B+
2103    S_2   C_1      M  street_4     157      61  52.5      B-
2104    S_2   C_1      F  street_5     159      97  72.2      B+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2201    S_2   C_2      M  street_5     193     100  39.1       B
2202    S_2   C_2      F  street_7     194      77  68.5      B+
2203    S_2   C_2      M  street_4     155      91  73.8      A+
2204    S_2   C_2      M  street_1     175      74  47.2      B-
2205    S_2   C_2      F  street_7     183      76  85.4       B
2301    S_2   C_3      F  street_4     157      78  72.3      B+
2302    S_2   C_3      M  street_5     171      88  32.7       A
2303    S_2   C_3      F  street_7     190      99  65.9       C
2304    S_2   C_3      F  street_6     164      81  95.5      A-
2305    S_2   C_3      M  street_4     187      73  48.9       B
2401    S_2   C_4      F  street_2     192      62  45.3       A
2402    S_2   C_4      M  street_7     166      82  48.7       B
2403    S_2   C_4      F  street_6     158      60  59.7      B+
2404    S_2   C_4      F  street_2     160      84  67.7       B
2405    S_2   C_4      F  street_6     193      54  47.6       B

In [19]:
df_s = pd.pivot_table(df,index=['Class','ID'],columns='Gender',values=['Height','Weight'])

In [20]:
df_s

           Height        Weight
Gender          F      M      F      M
Class ID
C_1   1101    NaN  173.0    NaN   63.0
      1102  192.0    NaN   73.0    NaN
      1103    NaN  186.0    NaN   82.0
      1104  167.0    NaN   81.0    NaN
      1105  159.0    NaN   64.0    NaN
      2101    NaN  174.0    NaN   84.0
      2102  161.0    NaN   61.0    NaN
      2103    NaN  157.0    NaN   61.0
      2104  159.0    NaN   97.0    NaN
      2105    NaN  170.0    NaN   81.0
C_2   1201    NaN  188.0    NaN   68.0
      1202  176.0    NaN   94.0    NaN
      1203    NaN  160.0    NaN   53.0
      1204  162.0    NaN   63.0    NaN
      1205  167.0    NaN   63.0    NaN
      2201    NaN  193.0    NaN  100.0
      2202  194.0    NaN   77.0    NaN
      2203    NaN  155.0    NaN   91.0
      2204    NaN  175.0    NaN   74.0
      2205  183.0    NaN   76.0    NaN
C_3   1301    NaN  161.0    NaN   68.0
      1302  175.0    NaN   57.0    NaN
      1303    NaN  188.0    NaN   82.0
      1304    NaN  195.0    NaN   70.0
      1305  187.0    NaN   69.0    NaN
      2301  157.0    NaN   78.0    NaN
      2302    NaN  171.0    NaN   88.0
      2303  190.0    NaN   99.0    NaN
      2304  164.0    NaN   81.0    NaN
      2305    NaN  187.0    NaN   73.0
C_4   2401  192.0    NaN   62.0    NaN
      2402    NaN  166.0    NaN   82.0
      2403  158.0    NaN   60.0    NaN
      2404  160.0    NaN   84.0    NaN
      2405  193.0    NaN   54.0    NaN

In [23]:
df_s.groupby('Class').head(10)

           Height        Weight
Gender          F      M      F      M
Class ID
C_1   1101    NaN  173.0    NaN   63.0
      1102  192.0    NaN   73.0    NaN
      1103    NaN  186.0    NaN   82.0
      1104  167.0    NaN   81.0    NaN
      1105  159.0    NaN   64.0    NaN
      2101    NaN  174.0    NaN   84.0
      2102  161.0    NaN   61.0    NaN
      2103    NaN  157.0    NaN   61.0
      2104  159.0    NaN   97.0    NaN
      2105    NaN  170.0    NaN   81.0
C_2   1201    NaN  188.0    NaN   68.0
      1202  176.0    NaN   94.0    NaN
      1203    NaN  160.0    NaN   53.0
      1204  162.0    NaN   63.0    NaN
      1205  167.0    NaN   63.0    NaN
      2201    NaN  193.0    NaN  100.0
      2202  194.0    NaN   77.0    NaN
      2203    NaN  155.0    NaN   91.0
      2204    NaN  175.0    NaN   74.0
      2205  183.0    NaN   76.0    NaN
C_3   1301    NaN  161.0    NaN   68.0
      1302  175.0    NaN   57.0    NaN
      1303    NaN  188.0    NaN   82.0
      1304    NaN  195.0    NaN   70.0
      1305  187.0    NaN   69.0    NaN
      2301  157.0    NaN   78.0    NaN
      2302    NaN  171.0    NaN   88.0
      2303  190.0    NaN   99.0    NaN
      2304  164.0    NaN   81.0    NaN
      2305    NaN  187.0    NaN   73.0
C_4   2401  192.0    NaN   62.0    NaN
      2402    NaN  166.0    NaN   82.0
      2403  158.0    NaN   60.0    NaN
      2404  160.0    NaN   84.0    NaN
      2405  193.0    NaN   54.0    NaN

In [24]:
df_stacked = df_s.stack()

In [25]:
df_stacked

                   Height  Weight
Class ID   Gender
C_1   1101 M        173.0    63.0
      1102 F        192.0    73.0
      1103 M        186.0    82.0
      1104 F        167.0    81.0
      1105 F        159.0    64.0
      2101 M        174.0    84.0
      2102 F        161.0    61.0
      2103 M        157.0    61.0
      2104 F        159.0    97.0
      2105 M        170.0    81.0
C_2   1201 M        188.0    68.0
      1202 F        176.0    94.0
      1203 M        160.0    53.0
      1204 F        162.0    63.0
      1205 F        167.0    63.0
      2201 M        193.0   100.0
      2202 F        194.0    77.0
      2203 M        155.0    91.0
      2204 M        175.0    74.0
      2205 F        183.0    76.0
C_3   1301 M        161.0    68.0
      1302 F        175.0    57.0
      1303 M        188.0    82.0
      1304 M        195.0    70.0
      1305 F        187.0    69.0
      2301 F        157.0    78.0
      2302 M        171.0    88.0
      2303 F        190.0    99.0
      2304 F        164.0    81.0
      2305 M        187.0    73.0
C_4   2401 F        192.0    62.0
      2402 M        166.0    82.0
      2403 F        158.0    60.0
      2404 F        160.0    84.0
      2405 F        193.0    54.0

In [26]:
df_stacked = df_s.stack(0)

In [27]:
df_stacked

Gender                 F      M
Class ID
C_1   1101 Height    NaN  173.0
           Weight    NaN   63.0
      1102 Height  192.0    NaN
           Weight   73.0    NaN
      1103 Height    NaN  186.0
...                  ...    ...
C_4   2403 Weight   60.0    NaN
      2404 Height  160.0    NaN
           Weight   84.0    NaN
      2405 Height  193.0    NaN
           Weight   54.0    NaN

[70 rows x 2 columns]

In [38]:
result = df_stacked.unstack().swaplevel(1,0,axis=1).sort_index(axis=1)

In [39]:
result

           Height        Weight
Gender          F      M      F      M
Class ID
C_1   1101    NaN  173.0    NaN   63.0
      1102  192.0    NaN   73.0    NaN
      1103    NaN  186.0    NaN   82.0
      1104  167.0    NaN   81.0    NaN
      1105  159.0    NaN   64.0    NaN
      2101    NaN  174.0    NaN   84.0
      2102  161.0    NaN   61.0    NaN
      2103    NaN  157.0    NaN   61.0
      2104  159.0    NaN   97.0    NaN
      2105    NaN  170.0    NaN   81.0
C_2   1201    NaN  188.0    NaN   68.0
      1202  176.0    NaN   94.0    NaN
      1203    NaN  160.0    NaN   53.0
      1204  162.0    NaN   63.0    NaN
      1205  167.0    NaN   63.0    NaN
      2201    NaN  193.0    NaN  100.0
      2202  194.0    NaN   77.0    NaN
      2203    NaN  155.0    NaN   91.0
      2204    NaN  175.0    NaN   74.0
      2205  183.0    NaN   76.0    NaN
C_3   1301    NaN  161.0    NaN   68.0
      1302  175.0    NaN   57.0    NaN
      1303    NaN  188.0    NaN   82.0
      1304    NaN  195.0    NaN   70.0
      1305  187.0    NaN   69.0    NaN
      2301  157.0    NaN   78.0    NaN
      2302    NaN  171.0    NaN   88.0
      2303  190.0    NaN   99.0    NaN
      2304  164.0    NaN   81.0    NaN
      2305    NaN  187.0    NaN   73.0
C_4   2401  192.0    NaN   62.0    NaN
      2402    NaN  166.0    NaN   82.0
      2403  158.0    NaN   60.0    NaN
      2404  160.0    NaN   84.0    NaN
      2405  193.0    NaN   54.0    NaN

In [40]:
df_d = df[['Class','Gender','Weight']]

In [41]:
df_d

     Class Gender  Weight
ID
1101   C_1      M      63
1102   C_1      F      73
1103   C_1      M      82
1104   C_1      F      81
1105   C_1      F      64
1201   C_2      M      68
1202   C_2      F      94
1203   C_2      M      53
1204   C_2      F      63
1205   C_2      F      63
1301   C_3      M      68
1302   C_3      F      57
1303   C_3      M      82
1304   C_3      M      70
1305   C_3      F      69
2101   C_1      M      84
2102   C_1      F      61
2103   C_1      M      61
2104   C_1      F      97
2105   C_1      M      81
2201   C_2      M     100
2202   C_2      F      77
2203   C_2      M      91
2204   C_2      M      74
2205   C_2      F      76
2301   C_3      F      78
2302   C_3      M      88
2303   C_3      F      99
2304   C_3      F      81
2305   C_3      M      73
2401   C_4      F      62
2402   C_4      M      82
2403   C_4      F      60
2404   C_4      F      84
2405   C_4      F      54

In [42]:
pd.get_dummies(df_d[['Class','Gender']]).join(df_d['Weight'])

      Class_C_1  Class_C_2  Class_C_3  Class_C_4  Gender_F  Gender_M  Weight
ID
1101          1          0          0          0         0         1      63
1102          1          0          0          0         1         0      73
1103          1          0          0          0         0         1      82
1104          1          0          0          0         1         0      81
1105          1          0          0          0         1         0      64
1201          0          1          0          0         0         1      68
1202          0          1          0          0         1         0      94
1203          0          1          0          0         0         1      53
1204          0          1          0          0         1         0      63
1205          0          1          0          0         1         0      63
1301          0          0          1          0         0         1      68
1302          0          0          1          0         1         0      57
1303          0          0          1          0         0         1      82
1304          0          0          1          0         0         1      70
1305          0          0          1          0         1         0      69
2101          1          0          0          0         0         1      84
2102          1          0          0          0         1         0      61
2103          1          0          0          0         0         1      61
2104          1          0          0          0         1         0      97
2105          1          0          0          0         0         1      81
2201          0          1          0          0         0         1     100
2202          0          1          0          0         1         0      77
2203          0          1          0          0         0         1      91
2204          0          1          0          0         0         1      74
2205          0          1          0          0         1         0      76
2301          0          0          1          0         1         0      78
2302          0          0          1          0         0         1      88
2303          0          0          1          0         1         0      99
2304          0          0          1          0         1         0      81
2305          0          0          1          0         0         1      73
2401          0          0          0          1         1         0      62
2402          0          0          0          1         0         1      82
2403          0          0          0          1         1         0      60
2404          0          0          0          1         1         0      84
2405          0          0          0          1         1         0      54

In [44]:
codes, uniques = pd.factorize(['b', None, 'a', 'c', 'b'], sort=True)

In [45]:
codes

array([ 1, -1,  0,  2,  1])

In [46]:
uniques

array(['a', 'b', 'c'], dtype=object)