In [1]:
import numpy as np
import pandas as pd

In [2]:
L1,L2 = ['A','B'],['a','b','c']
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
L3,L4 = ['D','E','F'],['d','e','f']
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=('Big', 'Small'))
df_s = pd.DataFrame(np.random.rand(6,9),index=mul_index1,columns=mul_index2)
df_s

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.118864  0.033512  0.382080  0.951399  0.025441  0.765145
      b      0.544092  0.474780  0.194975  0.760199  0.674204  0.632054
      c      0.416711  0.002492  0.408917  0.571248  0.461235  0.870936
B     a      0.059286  0.660927  0.451097  0.452444  0.476940  0.936564
      b      0.183431  0.757346  0.810929  0.657375  0.414582  0.413208
      c      0.380444  0.317355  0.574285  0.641518  0.703652  0.068641

Big                 F
Small               d         e         f
Upper Lower
A     a      0.069225  0.143046  0.770620
      b      0.419100  0.279159  0.541636
      c      0.568479  0.931964  0.686235
B     a      0.076763  0.414767  0.717706
      b      0.872555  0.917671  0.238359
      c      0.351718  0.609629  0.049174

In [3]:
idx=pd.IndexSlice

In [4]:
idx

In [5]:
idx[1:9:2,'A':'C','start':'end':2]

(slice(1, 9, 2), slice('A', 'C', None), slice('start', 'end', 2))

In [7]:
df_s.loc[idx['B':,df_s.iloc[0]>0.6]]

Big                 E                   F
Small               d         f         f
Upper Lower
B     a      0.452444  0.936564  0.717706
      b      0.657375  0.413208  0.238359
      c      0.641518  0.068641  0.049174

In [8]:
df_s.loc[idx[df_s.iloc[:,0]>0.6,:('E','f')]]

Empty DataFrame
Columns: [(D, d), (D, e), (D, f), (E, d), (E, e), (E, f)]
Index: []

In [13]:
df_s.loc[idx['A'],idx['D':]]

Big           D                             E                             F  \
Small         d         e         f         d         e         f         d
Lower
a      0.118864  0.033512  0.382080  0.951399  0.025441  0.765145  0.069225
b      0.544092  0.474780  0.194975  0.760199  0.674204  0.632054  0.419100
c      0.416711  0.002492  0.408917  0.571248  0.461235  0.870936  0.568479

Big
Small         e         f
Lower
a      0.143046  0.770620
b      0.279159  0.541636
c      0.931964  0.686235

In [16]:
df_s.loc[idx['A':,'a'],idx['D':]]

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.118864  0.033512  0.382080  0.951399  0.025441  0.765145
B     a      0.059286  0.660927  0.451097  0.452444  0.476940  0.936564

Big                 F
Small               d         e         f
Upper Lower
A     a      0.069225  0.143046  0.770620
B     a      0.076763  0.414767  0.717706

In [18]:
df = pd.read_csv('../data/table.csv',index_col='ID')

In [19]:
bins = [0,40,60,80,90,100]
cuts = pd.cut(df['Math'],bins=bins) #可选label添加自定义标签

In [21]:
df.groupby(cuts)['Math'].count()

Math
(0, 40]       7
(40, 60]     10
(60, 80]      9
(80, 90]      7
(90, 100]     2
Name: Math, dtype: int64

In [23]:
s = pd.Series ([0, 1, 1, 0, 1, 1, 1, 0])
s1 = s.cumsum()
result = s.mul(s1).diff().where(lambda x: x < 0).ffill().add(s1,fill_value =0)

In [26]:
s1

0    0
1    1
2    2
3    2
4    3
5    4
6    5
7    5
dtype: int64

In [27]:
result

0    0.0
1    1.0
2    2.0
3    0.0
4    1.0
5    2.0
6    3.0
7    0.0
dtype: float64

In [36]:
s.mul(s1)

0    0
1    1
2    2
3    0
4    3
5    4
6    5
7    0
dtype: int64

In [41]:
s.mul(s1).diff().where(lambda x: x < 0).ffill().add(s1,fill_value =0)

0    0.0
1    1.0
2    2.0
3    0.0
4    1.0
5    2.0
6    3.0
7    0.0
dtype: float64