In [1]:
import numpy as np
import pandas as pd

### 练习一

In [22]:
ufo = pd.read_csv('../data/UFO.csv')

In [3]:
ufo

               datetime     shape  duration (seconds)   latitude   longitude
0      10/10/1949 20:30  cylinder              2700.0  29.883056  -97.941111
1      10/10/1949 21:00     light              7200.0  29.384210  -98.581082
2      10/10/1955 17:00    circle                20.0  53.200000   -2.916667
3      10/10/1956 21:00    circle                20.0  28.978333  -96.645833
4      10/10/1960 20:00     light               900.0  21.418056 -157.803611
...                 ...       ...                 ...        ...         ...
80327    9/9/2013 21:15     light               600.0  36.165833  -86.784444
80328    9/9/2013 22:00    circle              1200.0  43.613611 -116.202500
80329    9/9/2013 22:00     other              1200.0  38.297222 -122.284444
80330    9/9/2013 22:20    circle                 5.0  38.901111  -77.265556
80331    9/9/2013 23:00     cigar              1020.0  35.652778  -97.477778

[80332 rows x 5 columns]

In [15]:
ufo[ufo['duration (seconds)']>60]['shape'].value_counts().sort_values(ascending=False).head(1)

light    10713
Name: shape, dtype: int64

In [81]:
ufo[ufo['duration (seconds)']>60]['shape'].value_counts().index[0]

'light'

In [23]:
ufo['latitude_interval'] = pd.cut(ufo.latitude, bins=pd.interval_range(start=-90, end=90,freq=18))

In [24]:
ufo['longitude_interval'] = pd.cut(ufo.longitude, bins=pd.interval_range(start=-180, end=180,freq=30))

In [25]:
ufo

,datetime,shape,duration (seconds),latitude,longitude,latitude_interval,longitude_interval
0,10/10/1949 20:30,cylinder,2700.0,29.883056,-97.941111,"(18, 36]","(-120, -90]"
1,10/10/1949 21:00,light,7200.0,29.384210,-98.581082,"(18, 36]","(-120, -90]"
2,10/10/1955 17:00,circle,20.0,53.200000,-2.916667,"(36, 54]","(-30, 0]"
3,10/10/1956 21:00,circle,20.0,28.978333,-96.645833,"(18, 36]","(-120, -90]"
4,10/10/1960 20:00,light,900.0,21.418056,-157.803611,"(18, 36]","(-180, -150]"
...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,light,600.0,36.165833,-86.784444,"(36, 54]","(-90, -60]"
80328,9/9/2013 22:00,circle,1200.0,43.613611,-116.202500,"(36, 54]","(-120, -90]"
80329,9/9/2013 22:00,other,1200.0,38.297222,-122.284444,"(36, 54]","(-150, -120]"
80330,9/9/2013 22:20,circle,5.0,38.901111,-77.265556,"(36, 54]","(-90, -60]"
80331,9/9/2013 23:00,cigar,1020.0,35.652778,-97.477778,"(18, 36]","(-120, -90]"

In [86]:
pd.value_counts(list(zip(ufo['latitude_interval'], ufo['longitude_interval']))).head()

((36, 54], (-90, -60])      27891
((18, 36], (-120, -90])     14280
((36, 54], (-120, -90])     11960
((18, 36], (-90, -60])       9923
((36, 54], (-150, -120])     9658
dtype: int64

In [85]:
pd.Series(list(zip(ufo['latitude_interval'], ufo['longitude_interval']))).value_counts().head()

((36, 54], (-90, -60])      27891
((18, 36], (-120, -90])     14280
((36, 54], (-120, -90])     11960
((18, 36], (-90, -60])       9923
((36, 54], (-150, -120])     9658
dtype: int64

In [84]:
ufo.set_index(['latitude_interval', 'longitude_interval']).index.value_counts().head()

((36, 54], (-90, -60])      27891
((18, 36], (-120, -90])     14280
((36, 54], (-120, -90])     11960
((18, 36], (-90, -60])       9923
((36, 54], (-150, -120])     9658
dtype: int64

### 练习二

In [41]:
pokemon = pd.read_csv('../data/Pokemon.csv')

In [45]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [55]:
pokemon[pokemon['Type 1'].notna()&pokemon['Type 2'].notna()].shape[0]/pokemon.shape[0]

0.5175

In [88]:
pokemon['Type 2'].count()/pokemon.shape[0]

0.5175

In [89]:
# pokemon[(pokemon['Total']>=580)&(pokemon['Legendary']==False)].shape[0]/pokemon.shape[0]

In [92]:
pokemon[(pokemon['Total']>=580)].Legendary.value_counts(normalize=True)

True     0.575221
False    0.424779
Name: Legendary, dtype: float64

In [65]:
pokemon[pokemon['Type 1']=='Fighting'].sort_values(by='Attack', ascending=False).head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
594,534,Conkeldurr,Fighting,NaN,505,105,140,95,55,65,45,5,False
74,68,Machamp,Fighting,NaN,505,90,130,80,65,85,55,1,False

In [93]:
# pokemon.groupby('Type 1').mean()

In [95]:
pokemon['range'] = pokemon.iloc[:,5:11].max(axis=1)-pokemon.iloc[:,5:11].min(axis=1)

In [105]:
pokemon.groupby('Type 1').mean().range.sort_values(ascending=False).head(1)

Type 1
Steel    82.185185
Name: range, dtype: float64

In [76]:
pokemon[pokemon.Legendary==True].groupby('Type 1').Name.count().nlargest(1)

Type 1
Psychic    14
Name: Name, dtype: int64

In [109]:
pokemon[pokemon.Legendary==True]['Type 1'].value_counts(normalize=True).index[0]

'Psychic'

In [115]:
pokemon[pokemon.Legendary==True].groupby('Type 1').Total.mean().sort_values(ascending=False).index[0]

'Normal'